<%= form_for @message,:html => { :class => 'form-horizontal' } do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% user_array = User.all.map { |user| [user.username,user.id]} %>

    <div class="control-group">
      <%= f.label :to, class:"control-label" %>
      <div class="controls">
        <%= f.select :to, options_for_select(user_array),{},:id => 'e1',class:'span4' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :topic, class:'control-label' %>
      <div class="controls">
        <%= f.text_field :topic, class:'span4' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :body, class:'control-label' %>
      <div class="controls">
        <%= f.text_field :body,class:'span4' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.submit "submit", class:'btn btn-info btn-large' %>
    </div>
<% end %>

<!--选择收信人使用select2样式-->
<script>
    $(document).ready(function() {
        $("#e1").select2();
    });
</script>
