<% provide(:title, '收信箱') %>

<h4 class="title-border-left">
  收信箱
</h4>

<%= render :partial => 'snippet/panel' %>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <th>topic</th>
    <th>body</th>
    <th></th>
    <th></th>
  </tr>

  <% @messages.each do |message| %>
      <tr>
        <td><%= message.id %></td>
        <td><%= link_to message.topic, message %></td>
        <td><%= message.body %></td>
        <td><%= link_to '查看', message %></td>
        <td><%= link_to '删除', message,:method => :delete %></td>
      </tr>
  <% end %>
</table>
