<% provide(:title, @message.topic) %>

<h4 class="title-border-left">
  站内信操作
</h4>

<%= render :partial => 'snippet/panel' %>

<%= @message.id %>
<%= @message.topic %>
<%= @message.body %>

<hr>

<% @hello = @message.conversation %>
<% @hello.each do |a| %>
    <%= a.id %>
<% end %>

<%= link_to 'Back', inbox_path %>

<%= form_tag(:action => 'reply') do %>
    <div class="control-group">
      <%= label_tag(:topic, "Topic:") %>
      <div class="controls">
        <%= text_field_tag(:topic) %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag(:body, "Body:") %>
      <div class="controls">
        <%= text_field_tag(:body) %>
      </div>
    </div>
    <div class="control-group">
      <%= submit_tag("Reply") %>
    </div>
<% end %>
