<h3 class="title-border-left">
  Projects
</h3>

<%= link_to 'New Project', new_project_path, class:'btn btn-info pull-right', style: "margin-top:-46px;margin-right:142px;" %>

<div class="btn-group pull-right" style="margin-top: -46px;">
  <button class="btn">项目筛选方式</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="divider"></li>
    <li>
      <a href="">与我有关的全部项目</a>
    </li>
    <li>
      <a href="">由我创建的项目</a>
    </li>
    <li>
      <a href="">我参加的项目</a>
    </li>
    <li class="divider"></li>
  </ul>
</div>

<hr>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.start_at %></td>
        <td><%= project.end_at %></td>
        <% if project.user_id == current_user.id %>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
            <td><%= link_to 'Show', project %></td>
            <td></td>
            <td></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br />

<hr>

<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start at</th>
    <th>End at</th>
  </tr>

  <% @joinings.each do |pro| %>
      <% if pro.user_id == current_user.id  %>
          <% @pros.each do |pro| %>
            <tr>
                <td><%= pro.name %></td>
                <td><%= pro.description %></td>
                <td><%= pro.start_at %></td>
                <td><%= pro.end_at %></td>
            </tr>
          <% end %>
      <% end %>
  <% end %>
</table>
