<h4 class="title-border-left">
  创建的项目
</h4>

<%= link_to '创建新项目', new_project_path, class:'btn btn-info pull-right', style: "margin-top:-39px;" %>

<hr>

<table class="table table-bordered table-hover">
  <tr>
    <th class="t-center">Name</th>
    <th class="t-center">Description</th>
    <th class="t-center">Start at</th>
    <th class="t-center">End at</th>
    <th class="t-center"></th>
    <th class="t-center"></th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td class="t-center"><%= link_to project.name, project %></td>
        <td class="t-center"><%= project.description %></td>
        <td class="t-center"><%= project.start_at.strftime("%Y-%m-%d") %></td>
        <td class="t-center"><%= project.end_at.strftime("%Y-%m-%d") %>
        <td class="t-center"><%= link_to '编辑', edit_project_path(project) %></td>
        <td class="t-center"><%= link_to '删除', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

