<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.start_at %></td>
        <td><%= project.end_at %></td>
        <% if project.user_id == current_user.id %>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
            <td><%= link_to 'Show', project %></td>
            <td></td>
            <td></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>

<hr>

<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start at</th>
    <th>End at</th>
  </tr>

  <% @joinings.each do |joining| %>
      <tr>
        <td><%= joining.name %></td>
        <td><%= joining.description %></td>
        <td><%= joining.start_at %></td>
        <td><%= joining.end_at %></td>
      </tr>
  <% end %>
</table>
