<h3 class="title-border-left">
  创建的项目
</h3>

<%= link_to '创建新项目', new_project_path, class:'btn btn-info pull-right', style: "margin-top:-46px;" %>

<!-- <div class="btn-group pull-right" style="margin-top: -46px;">
  <button class="btn">项目筛选方式</button>
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li class="divider"></li>
    <li>
      <a href="">与我有关的全部项目</a>
    </li>
    <li>
      <a href="">由我创建的项目</a>
    </li>
    <li>
      <a href="">我参加的项目</a>
    </li>
    <li class="divider"></li>
  </ul>
</div> -->

<hr>

<table class="table table-bordered table-hover">
  <tr>
    <th class="t-center">Name</th>
    <th class="t-center">Description</th>
    <th class="t-center">Start at</th>
    <th class="t-center">End at</th>
    <th class="t-center"></th>
    <th class="t-center"></th>
  </tr>

  <% @projects.each do |project| %>
      <tr>
        <td class="t-center"><%= link_to project.name, project %></td>
        <td class="t-center"><%= project.description %></td>
        <td class="t-center"><%= project.start_at.strftime("%Y-%m-%d") %></td>
        <td class="t-center"><%= project.end_at.strftime("%Y-%m-%d") %>
        <td class="t-center"><%= link_to '编辑', edit_project_path(project) %></td>
        <td class="t-center"><%= link_to '删除', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<hr>

<h3 class="title-border-left">
  参加的项目
</h3>

<table class="table table-bordered table-hover">
  <tr>
    <th class="t-center">Name</th>
    <th class="t-center">Description</th>
    <th class="t-center">Start at</th>
    <th class="t-center">End at</th>
  </tr>


  <% @joinings.each do |pro| %>
      <% if pro.user_id == current_user.id %>
          <% @join_pro = Project.where("id = ?", pro.project_id) %>
          <% @join_pro.each do |mid| %>
              <tr>
                <td class="t-center"><%= link_to mid.name, mid %></td>
                <td class="t-center"><%= mid.description %></td>
                <td class="t-center"><%= mid.start_at.strftime("%Y-%m-%d") %></td>
                <td class="t-center"><%= mid.end_at.strftime("%Y-%m-%d") %></td>
              </tr>
          <% end %>
      <% end %>
  <% end %>

</table>
