<%= form_for(@doc) do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_name %>
    <!--找出用户参加的项目，并填充到project_array数组中-->
     <% @joins = Duty.all %>
     <% project_array = Array.new %>
     <% @joins.each do |j| %>
       <% if j.user_id == current_user.id %>
         <% @join_pro = Project.where("id = ?", j.project_id) %>
         <% @join_pro.each do |join| %>
           <% project_array.push( join.name, join.id) %>
         <% end %>
       <% end %>
     <% end %>
     <!--END-->

     <!--提取用户自己创建的项目-->
     <% @pros = Project.where("user_id = ?", current_user.id) %>
     <% @pros.each do |pro| %>
        <% project_array.push( pro.name, pro.id ) %>
     <% end %>
     <!--END-->

    <% projects_array = Hash[*project_array.flatten] %>
    <%= f.select :project_id, options_for_select(projects_array),{}, :id => 'e1',:class => 'span3' %>
  </div>

    <script>
        $(document).ready(function() { $("#e1").select2(); });
    </script>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class:'wysihtml5',:style => 'width:570px; height:100px;' %>
  </div>
  <div class="field">
    <%= f.label :keyword %>
    <%= f.text_field :keyword %>
  </div>
  <div class="actions">
    <%= f.submit(:class => 'btn btn-info') %>
  </div>
<% end %>

