<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="control-group">
     <%= f.label :project_name, class:"control-label" %>
     <% projects_array = Project.all.map { |project| [project.name, project.id] } %>
     <%= f.select :project_id, options_for_select(projects_array),{}, :id => 'e1',:class => 'span4' %>
   </div>

  <div class="control-group">
    <%= f.label :name, class:"control-label" %>
    <div class="controls">
       <%= f.text_field :name,class:"span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :start_at, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :start_at, 'data-behaviour' => 'datepicker',class:"span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :end_at, class:"control-label" %>
    <div class="controls">
      <%= f.text_field :end_at, 'data-behaviour' => 'datepicker',class:"span4" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, class:"control-label" %>
    <div class="controls">
      <%= f.text_area :content, class:'wysihtml5',:style => 'width:570px;', :rows => 7 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :level, class:"control-label" %>
    <%= f.select :level, options_for_select([['紧急'], ['重要'],['较急'],['不急']]), {}, :id => 'e2',:class => 'span4' %>
  </div>

  <div class="control-group">
    <%= f.label :appointment, class:"control-label" %>
    <% appointment_array = User.all.map { |current_user| [current_user.username, current_user.id] } %>
    <%= f.select :appointment, options_for_select(appointment_array),{}, :id => 'e3',:class => 'span4' %>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit '提交事务', class: "btn btn-info btn-large" %>
      <%= link_to '返回', events_path, class:'btn btn-danger btn-small' %>
    </div>
  </div>

<% end %>

    <!-- select2 script -->
    <script>
        $(document).ready(function() {
            $("#e1").select2();
            $("#e2").select2();
            $("#e3").select2();
        });
    </script>

    <!-- datepicker script -->
    <script type="text/javascript">
        $(document).on("focus", "[data-behaviour~='datepicker']", function(e){
            $(this).datepicker({"format": "yyyy-mm-dd", "weekStart": 1, "autoclose": true})
        });
    </script>
