<h3 class="title-border-left">
    All Events
</h3>

<div class="btn-group pull-right" style="margin-top: -46px;">
    <button class="btn">排序</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li class="divider"></li>
      <li>
        <% link_to '从最新排序',  %>
      </li>
      <li>
        <a href="">从旧时排序</a>
      </li>
      <li class="divider"></li>
    </ul>
  </div>

  <hr>

<table class="table table-bordered">
  <tr>
    <th class="span4 t-center">名称</th>
    <th class="span1 t-center">事务等级</th>
    <th class="span1 t-center">起始时间</th>
    <th class="span1 t-center">结束时间</th>
    <th class="t-center" style="width:40px;">完成者</th>
    <th class="t-center" style="width:40px;">发起者</th>
  </tr>


<% @events.each do |event| %>
  <tr>
    <td class="t-center"><%= link_to event.name, event %></td>
    <td class="t-center">
      <% if event.level.to_s == "紧急" %>
        <span class="label label-important">紧急</span>
      <% elsif event.level.to_s == "重要" %>
        <span class="label label-warning">重要</span>
      <% elsif event.level.to_s == "较急" %>
        <span class="label label-info">较急</span>
      <% else event.level.to_s == "不急" %>
        <span class="label label-success">不急</span>
      <% end %>
    </td>
    <td class="t-center"><%= event.start_at.strftime("%Y-%m-%d") %></td>
    <td class="t-center"><%= event.end_at.strftime("%Y-%m-%d") %></td>

  <!-- list event.appoinment username -->
    <% @users = User.all %>
    <% @users.each do |u| %>
      <% if event.appointment.to_s == u.id.to_s %>
        <td class="t-center">
          <a href="" title=<%= u.username %> rel="tooltip" data-placement="right">
            <%= image_tag u.avatar.url(:thumb), class:"table-avatar" %>
          </a>
        </td>
      <% end %>
    <% end %>

  <!-- list event cteator username -->
    <% @users.each do |i| %>
      <% if event.user_id == i.id %>
        <td class="t-center">
          <a href="" title=<%= i.username %> rel="tooltip" data-placement="right">
            <%= image_tag i.avatar.url(:thumb), class:"table-avatar" %>
          </a>
        </td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<hr>

<%= link_to 'New Event', new_event_path, class:"btn btn-danger" %>

<script type="text/javascript">
  $(document).ready(function () {
    $("a[rel='tooltip']").tooltip();
  });
</script>
