<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Content:</b>
  <%= @event.content %>
</p>

<p>
  <b>Level:</b>
  <%= @event.level %>
</p>

<p>
  <b>Appointment:</b>
  <%= @event.appointment %>
</p>

<p>
  <b>Start at:</b>
  <%= @event.start_at.strftime("%Y-%m-%d") %>
</p>

<p>
  <b>End at:</b>
  <%= @event.end_at.strftime("%Y-%m-%d") %>
</p>

<p>
  <b>User:</b>
  <%= @event.user_id %>
</p>
  
  <% @users = User.all %>
  
  <% if @event.user_id == current_user.id %>
    <%= link_to 'Edit', edit_event_path(@event) %>
    <%= link_to 'Destroy', event_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% elsif Task.find_all_by_user_id_and_event_id(current_user.id, @event.id).present? %>
    <button class="btn btn-large">
    这是
      <% @users.each do |u| %>
        <% if @event.user_id == u.id %>
          <%= u.username %>
        <% end %>
      <% end %>
    委派给你的任务></button>
  <% else %>
    <div class="btn">lalala</div>
  <% end %>

<%= link_to 'Back', events_path %>

<ul id="comments">
  <% @event.comments.each do |comment| %>
      <li><%=raw comment.content %></li>
  <% end %>
</ul>

<h2>New Comment</h2>
<%= form_for [@event, Comment.new] do |f| %>
    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_area :content, :rows => 5 %>
    </div>
    <div class="actions">
      <%= f.submit "Add comment",:class => 'btn' %>
    </div>
<% end %>

<!--  at.js  -->
<script>
  data = [ <% @users.each do |j| %>
            "<%= j.username %>",
           <% end %> ];
  $('textarea').atwho("@",{'data':data});
  limit: 6;
</script>


