<p>
  <b>项目名称:</b>
  <%= @project.name %>
</p>

<p>
  <b>项目描述:</b>
  <%= @project.description %>
</p>

<p>
  <b>起始时间:</b>
  <%= @project.start_at.strftime("%Y-%m-%d") %>
</p>

<p>
  <b>结束时间:</b>
  <%= @project.end_at.strftime("%Y-%m-%d") %>
</p>

<% if @project.user_id == current_user.id %>
    <%= link_to '编辑', edit_project_path(@project) %>
    <%= link_to '删除', project_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% elsif Duty.find_all_by_user_id_and_project_id(current_user.id,@project.id).present?  %>
    <%= link_to '退出项目', quit_project_path, :class => 'btn btn-danger' %>
<% else %>
    <%= link_to '加入项目', join_project_path, :class => 'btn btn-success' %>
<% end %>

<%= link_to '返回', projects_path %>

