<h1>Listing docs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Keyword</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @docs.each do |doc| %>
      <tr>
        <td><%= doc.title %></td>
        <td><%= doc.content %></td>
        <td><%= doc.keyword %></td>
        <td><%= link_to 'Show', doc %></td>
        <td><%= link_to 'Edit', edit_doc_path(doc) %></td>
        <td><%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Doc', new_doc_path %>
