<!DOCTYPE html>
<html>
<head>
  <title>Writeriki</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <%= render partial: 'snippet/nav' %>

    <div class="container">
      <div class="row">
        <div class="span11">
          <div data-pjax-container>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
        $('.wysihtml5').each(function(i, elem) {
            $(elem).wysihtml5();
        });
    </script>

</body>
</html>
